In [1]:
# Import datetime, timezone
from datetime import datetime, timezone

# October 1, 2017 at 15:26:26, UTC
dt = datetime(2017, 10, 1, 15, 26, 26, tzinfo=timezone.utc)

# Print results
print(dt.isoformat())

2017-10-01T15:26:26+00:00

In [2]:
 # Import datetime, timedelta, timezone
from datetime import datetime, timedelta, timezone

# Create a timezone for Pacific Standard Time, or UTC-8
pst = timezone(timedelta(hours=-8))

# October 1, 2017 at 15:26:26, UTC-8
dt = datetime(2017, 10, 1, 15, 26, 26, tzinfo=pst)

# Print results
print(dt.isoformat())

2017-10-01T15:26:26-08:00

In [3]:
# Import datetime, timedelta, timezone
from datetime import datetime, timedelta, timezone

# Create a timezone for Australian Eastern Daylight Time, or UTC+11
aedt = timezone(timedelta(hours=11))

# October 1, 2017 at 15:26:26, UTC+11
dt = datetime(2017, 10, 1, 15, 26, 26, tzinfo=aedt)

# Print results
print(dt.isoformat())

2017-10-01T15:26:26+11:00

In [4]:
# # Create a timezone object corresponding to UTC-4
# edt = timezone(timedelta(hours=-4))

# # Loop over trips, updating the start and end datetimes to be in UTC-4
# for trip in onebike_datetimes[:10]:
#   # Update trip['start'] and trip['end']
#   trip['start'] = trip['start'].replace(tzinfo = edt)
#   trip['end'] = trip['end'].replace(tzinfo = edt)

In [5]:
# # Import tz
# from dateutil import tz 

# # Create a timezone object for Eastern Time
# et = tz.gettz('America/New_York')

# # Loop over trips, updating the datetimes to be in Eastern Time
# for trip in onebike_datetimes[:10]:
#   # Update trip['start'] and trip['end']
#   trip['start'] = trip['start'].replace(tzinfo = et)
#   trip['end'] = trip['end'].replace(tzinfo = et)

In [6]:
from dateutil import tz

In [8]:
# # Create the timezone object
# uk = tz.gettz("America/New_York")

# # Pull out the start of the first trip
# local = onebike_datetimes[0]['start']

# # What time was it in the UK?
# notlocal = local.astimezone(uk)

# # Print them out and see the difference
# print(local.isoformat())
# print(notlocal.isoformat())

In [9]:
# # Create the timezone object
# ist = tz.gettz('Asia/Kolkata')

# # Pull out the start of the first trip
# local = onebike_datetimes[0]['start']

# # What time was it in the UK?
# notlocal = local.astimezone(ist)

# # Print them out and see the difference
# print(local.isoformat())
# print(notlocal.isoformat())

In [10]:
# # Create the timezone object
# sm = tz.gettz("Pacific/Apia")

# # Pull out the start of the first trip
# local = onebike_datetimes[0]['start']

# # What time was it in Samoa?
# notlocal = local.astimezone(sm)

# # Print them out and see the difference
# print(local.isoformat())
# print(notlocal.isoformat())

In [11]:
# Import datetime, timedelta, tz, timezone
from datetime import datetime, timedelta, timezone
from dateutil import tz

# Start on March 12, 2017, midnight, then add 6 hours
start = datetime(2017, 3, 12, tzinfo = tz.gettz('America/New_York'))
end = start + timedelta(hours=6)
print(start.isoformat() + " to " + end.isoformat())

2017-03-12T00:00:00-05:00 to 2017-03-12T06:00:00-04:00

In [12]:
# Import datetime, timedelta, tz, timezone
from datetime import datetime, timedelta, timezone
from dateutil import tz

# Start on March 12, 2017, midnight, then add 6 hours
start = datetime(2017, 3, 12, tzinfo = tz.gettz('America/New_York'))
end = start + timedelta(hours=6)
print(start.isoformat() + " to " + end.isoformat())

# How many hours have elapsed?
print((end - start).total_seconds()/(60*60))

2017-03-12T00:00:00-05:00 to 2017-03-12T06:00:00-04:00
6.0

In [13]:
# Import datetime, timedelta, tz, timezone
from datetime import datetime, timedelta, timezone
from dateutil import tz

# Start on March 12, 2017, midnight, then add 6 hours
start = datetime(2017, 3, 12, tzinfo = tz.gettz('America/New_York'))
end = start + timedelta(hours=6)
print(start.isoformat() + " to " + end.isoformat())

# How many hours have elapsed?
print((end - start).total_seconds()/(60*60))

2017-03-12T00:00:00-05:00 to 2017-03-12T06:00:00-04:00
6.0

In [14]:
# Import datetime and tz
from datetime import datetime
from dateutil import tz

# Create starting date
dt = datetime(2000, 3, 29, tzinfo = tz.gettz('Europe/London'))

# Loop over the dates, replacing the year, and print the ISO timestamp
for y in range(2000, 2011):
  print(dt.replace(year=y).isoformat())

2000-03-29T00:00:00+01:00
2001-03-29T00:00:00+01:00
2002-03-29T00:00:00+00:00
2003-03-29T00:00:00+00:00
2004-03-29T00:00:00+01:00
2005-03-29T00:00:00+01:00
2006-03-29T00:00:00+01:00
2007-03-29T00:00:00+01:00
2008-03-29T00:00:00+00:00
2009-03-29T00:00:00+00:00
2010-03-29T00:00:00+01:00

In [ ]:
# # Loop over trips
# for trip in onebike_datetimes:
#   # Rides with ambiguous start
#   if tz.datetime_ambiguous(trip['start']):
#     print("Ambiguous start at " + str(trip['start']))
#   # Rides with ambiguous end
#   if tz.datetime_ambiguous(trip['end']):
#     print("Ambiguous end at " + str(trip['end']))

In [ ]:
# trip_durations = []
# for trip in onebike_datetimes:
#   # When the start is later than the end, set the fold to be 1
#   if trip['start'] > trip['end']:
#     trip['end'] = tz.enfold(trip['end'])
#   # Convert to UTC
#   start = trip['start'].astimezone(tz.UTC)
#   end = trip['end'].astimezone(tz.UTC)

#   # Subtract the difference
#   trip_length_seconds = (end-start).total_seconds()
#   trip_durations.append(trip_length_seconds)

# # Take the shortest trip duration
# print("Shortest trip: " + str(min(trip_durations)))